# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# misc
.DS_Store
.vscode
.chrome
*.log
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.pem
